
.task1 p{
    
    background-color: aqua;
    border: 1px solid;
    width: 80%;
    
    
   
 }

 .p2 {
    text-align: center;

 }

 .p5{
    text-align: justify;
    text-align-last: center; 

 }

 /*task2*/
 .task2 p{
    width: 80%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(246, 248, 248);
    text-align: center;
 }
  .task2 .p1{
    font-weight: 600;
    
  }

  .task2 .p2{
    border: 3px blue solid;
   font-style: italic;
  }

  .task2 .p3 {
  text-decoration: line-through;
  border: 4px dotted black;
  }

  .task2 .p4 {
    border: 3px dashed gray;
    text-decoration:overline;
  }

  .task2 .p5 {
    border: 3px double gray;
    text-decoration:underline;
  }

  .task2 .p6 {
      border: 2px solid;
      border-color:  yellow orangered red blue;
    text-transform: uppercase;    
  }
   
  .task2 .p7{
    border: 4px;
    border-style: solid dotted double dashed;
    border-color: rgb(246, 248, 248)  purple orangered red;

  }

  .task3 {
    width:20%;


  }

  .task3  li{
    padding-left: 10px;
    background-color: rgb(108, 98, 98);
    border-bottom: 3px solid black;
    list-style: none;
    height: 40px;
    line-height: 40px;

  }
