* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  position: relative;
}
.page_container {
  width: 100%;
  height: 700px;
}
.icon_btn {
  text-align: center;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  background-color: rgba(52, 58, 64, 0.5);
  position: fixed;
  left: 1830px;
  top: 20px;
  line-height: 50px;
  border-radius: 10px;
}
.icon_btn i {
  color: white;
}
.icon_btn:hover {
  cursor: pointer;
  background-color: #343a40;
}
.image_page {
  background-position: center;
  background-size: cover;
  background-image: url(./images/sari.jpg);
  width: 100%;
  height: 700px;
}

.img_title {
  text-align: center;
  padding-top: 200px;
}

.img_title h1 {
  font-size: 60px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.img_title p {
  font-size: 20px;
  margin-bottom: 20px;
}

#page_btn {
  margin: auto;
  background-color: #1d809f;
  font-size: 20px;
  line-height: 60px;
  width: 180px;
  height: 60px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
}
#page_btn:hover {
  background-color: #17667f;
  cursor: pointer;
}
/*section 2*/
.page_content {
  width: 100%;
  height: 430px;
}
.content_title h1 {
  text-align: center;
  padding-top: 200px;
  font-size: 3rem;
  margin-bottom: 20px;
}
.content_title p {
  font-size: 20px;
  font-style: italic;
  font-family: 20px sans-serif;
  font-weight: 200;
  text-align: center;
}

#content_btn {
  margin: auto;
  background-color: #0d0d0d;
  font-size: 20px;
  line-height: 60px;
  width: 180px;
  height: 60px;
  text-decoration: none;
  display: block;
  text-align: center;
  color: rgb(240, 236, 236);
  border-radius: 10px;
  margin-top: 40px;
}
#content_btn:hover {
  background-color: #424649;
  cursor: pointer;
}

/*section 3*/

.page_services {
  width: 100%;
  height: 554px;
  background-color: rgb(29, 128, 159);
  margin: auto;
  text-align: center;
}

.services_title h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 0, 3rem;
  margin-bottom: 20px;
  align-items: center;
  color: chocolate;
}

.services_title h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 3rem;
  margin-bottom: 20px;
  align-items: center;
  color: #ffff;
}

.span_container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.span_container h1,
p {
  color: white;
}
.span_group {
  margin: auto;
  line-height: 100px;
  background-color: #ffff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.span_group i {
  font-size: 30px;
  color: #1d809f;
}

/* section 4*/

.page_next {
  width: 100%;
  height: 700px;
  text-align: center;
}

.container {
  background-position: center;
  background-size: cover;
  background-image: url(./images/sari1.jpg);
  width: 100%;
  height: 700px;
}

.container h1 {
  font-size: 60px;
  padding-top: 130px;
  margin-bottom: 80px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
  padding: 25px 40px;
  margin: auto;
  font-size: 20px;
  line-height: 200px;
  text-decoration: none;
  color: rgb(240, 236, 236);
  background-color: #1d809f;
  border-radius: 10px;
  margin-top: 40px;
  justify-content: center;
}
