* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

header {
  background-color: #212529;
  width: 100%;
  height: 94px;
  position: fixed;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 200px;
  height: 50px;
  padding: 30px 40px 30px 90px;
}

.nav_list {
  width: 50%;
}
.nav_list ul {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav_list a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;
  font-style: italic;
  letter-spacing: 1px;
}

.nav_list a:hover {
  cursor: pointer;
  color: rgb(255, 200, 0);
}

.cover_intro {
  width: 100%;
  height: 944px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/header-bg.jpg);
}

.intro_title {
  padding-top: 300px;
  text-align: center;
  font-size: 30px;
  color: aliceblue;
  line-height: 60px;
}

.intro_title h2 {
  font-style: italic;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.intro_title h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 30px;
  margin-bottom: 4rem;
  letter-spacing: 10px;
}

.intro_title a {
  text-decoration: none;
  border: 2px solid;
  background-color: orange;
  cursor: pointer;
  padding: 30px 20px;
}

/* services*/

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.portfolio {
  background: #effdfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
}
.portfolio .portfolioUpper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20%;
}
.portfolio .portfolioUpper h4 {
  font-size: 40px;
  text-transform: uppercase;
}
.portfolio .portfolioUpper p {
  font-size: 22px;
  font-style: italic;
  text-transform: uppercase;
  color: #5c5c5c;
}

.portfolio .portfolioCards {
  width: 100%;
  height: 70%;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
}
.portfolio .portfolioCards .portfolioCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 26%;
  height: 50%;
  max-height: 600px;
}
.portfolio .portfolioCards .portfolioCard .cardImage1 {
  background: url("https://assets.ajio.com/medias/sys_master/root/20230921/meKx/650c4c2bddf7791519efcd10/-473Wx593H-466612236-black-MODEL.jpg");
}
.portfolio .portfolioCards .portfolioCard .cardImage {
  width: 100%;
  height: 70%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.4s all ease;
}
.portfolio .portfolioCards .portfolioCard .cardImage i {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #fff;
  background: #f8d555;
  opacity: 0;
  transition: 0.4s all ease;
}
.portfolio .portfolioCards .portfolioCard .cardImage:hover i {
  opacity: 0.9;
  transition: 0.4s all ease;
}
.portfolio .portfolioCards .portfolioCard .portfolioCardHeader {
  width: 100%;
  height: 15%;
  font-size: 26px;
  font-style: normal;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.portfolio .portfolioCards .portfolioCard .portfolioCardText {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 15%;
  font-size: 22px;
  color: #5c5c5c;
  font-style: italic;
}


/*About*/

.firstAboutDiv{
  display: flex;
  justify-content: center;
  column-gap: 50px;
  align-items: center;
  width: 100%;
  height: 20%;
  min-height: 20%;
}

.leftHand{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 100%;
  text-align: end;
}
.rightHand{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  height: 100%;
  text-align: start;
}
.middleHand{
  width: 20%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  border-radius: 100%;
  background: red;
}
