* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    /* background-color: blue; */
}

.container div {
    border: 1px solid black;
    width: 30%;
    margin-bottom: 30px;
    height: 150px;
    background-color: aqua;
}

/*task2*/
 .main .one  {
    
    display: flex;
    flex-wrap: nowrap;


 }

 .main .one div {
    border: 1px solid black;
    width: 10%;
    height: 90px;
    background-color: rgb(90, 21, 155);
 }
 .main .one div:nth-child(1){
    background-color: red;
 }
 .main .one div:nth-child(3){
    background-color: rgb(49, 45, 45);
 }

 .main .two  {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:flex-end; 


 }
 .main .two div {
    border: 1px solid black;
    width: 10%;
    height: 90px;
    background-color: rgb(41, 197, 104);
   
 }

 .main .three  {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-between;


 }
 .main .three div {
    border: 1px solid black;
    width: 24%;
    height: 100px;
    background-color: rgb(197, 41, 85);
   
 }

 .main .four  {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;


 }
 .main .four div {
    border: 1px solid black;
    width: 24%;
    height: 100px;
    background-color: rgb(41, 46, 197);
   
 }
 

